* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 180px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color:rgb(12, 173, 232);
    background-size: auto;
}

main, footer {
    margin: 8px;
}

#logo {
    width: 350px;
    height: 250px;
    margin: 8px;
}

h1{
    font-size: 44px;
}
#article-info {
    color: gray;
    font-size: 22px;
}

#writer {
    color: rgb(12, 173, 232);
}